{% extends "templates/public_template.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Home</h1>
    </div>
  </div>
</div>
<div class = "content">
  <br>
  <p align="center"><a href=upload-image ><button class='btn btn-primary' style="height:75px;width:150px">Video</button></a></p>
</div>

{% endblock %}

{% block script %}
<!-- <script>
  alert("Template inheritance is awesome");  // pop up alert
</script> -->
{% endblock %}
